_Config:set('wifi.mode',         'sta')
_Config:set('wifi.sta.ssid',     'YOUR_WIFI_SSID')
_Config:set('wifi.sta.password', _Crypt:encrypt('YOUR_WIFI_PASSWORD'))
_Config:set('telnetd.password',  _Crypt:encrypt('YOUR_TELNETD_PASSWORD'))
_Config:save()
node.restart()
